<a href="https://colab.research.google.com/github/nevesw/gemini-linguagem-natural-para-sql/blob/main/linguagem_natural_sql_alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Projeto de tradução da linguagem natural para linguagem SQL

A Ideia do projeto é receber uma pergunta simples sobre informações de uma base de dados que possivelmente seria feita pela área de negócios, pessoas não programadoras ou stakeholders, traduzir a pergunta para linguagem sql, e retornar o resultado.

## Importação de blibliotecas necessárias para rodar o projeto

In [1]:
!pip install -q -U google-generativeai
!pip install pandas

In [7]:
# Import the Python SDK
import google.generativeai as genai
import os
import pandas as pd
# Used to securely store your API key
#from google.colab import userdata

#GOOGLE_API_KEY=userdata.get('GOOGLE_API_KEY')

#Entre aqui com sua API KEY DO GEMINI
GOOGLE_API_KEY="SUA-KEY"
genai.configure(api_key=GOOGLE_API_KEY)

# Fonte de dados

Com intuito de executar o projeto de maneira mais rápida e simples vamos  utilizar como fonte de dados um dataset em formato csv extraido do kaggle que pode ser encontrado no link : https://www.kaggle.com/datasets/dienert/vendas

Faça o download, extraia o arquivo "tudo.csv" e cole dentro da pasta raiz "Arquivos" em seu colab, em seguida iremos visualizar o conteudo.

In [11]:
df = pd.read_csv("tudo.csv")

In [12]:
df

,name,sale_id,product_id,product,price_y,quantity,price_x,created_at,updated_at,email
0,Mason Howell,442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2,296,Lang Club,866.694,3.89990,2433.800,1997-09-17 21:50:14+00:00,2007-02-15 19:34:06+00:00,jessica.cole@example.net
1,Mason Howell,442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2,296,Lang Club,866.694,4.00000,1196.580,1997-09-17 21:50:14+00:00,2007-02-15 19:34:06+00:00,jessica.cole@example.net
2,Mason Howell,442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2,296,Lang Club,866.694,1.38452,1975.000,1997-09-17 21:50:14+00:00,2007-02-15 19:34:06+00:00,jessica.cole@example.net
3,Mason Howell,442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2,296,Lang Club,866.694,2.22500,119.526,1997-09-17 21:50:14+00:00,2007-02-15 19:34:06+00:00,jessica.cole@example.net
4,Mason Howell,442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2,296,Lang Club,866.694,2.89000,2386.940,1997-09-17 21:50:14+00:00,2007-02-15 19:34:06+00:00,jessica.cole@example.net
...,...,...,...,...,...,...,...,...,...,...
44495,Ashlynn Jaskolski,3d9d0fd1-0406-3ee8-84ee-5a29be946b2b,235,Roselyn Road,3366.300,3.00000,3455.700,2019-12-10 02:43:34+00:00,1981-04-24 06:20:37+00:00,leffler.mafalda@example.net
44496,Miss Krista Kuhic,c9b46a89-e252-3e69-9b4c-d2a1f7bd86e8,235,Roselyn Road,3366.300,2.45209,1896.100,1981-03-17 13:05:45+00:00,1986-06-24 12:35:27+00:00,leland.vonrueden@example.net
44497,Miss Krista Kuhic,c9b46a89-e252-3e69-9b4c-d2a1f7bd86e8,235,Roselyn Road,3366.300,3.08220,3997.900,1981-03-17 13:05:45+00:00,1986-06-24 12:35:27+00:00,leland.vonrueden@example.net
44498,Miss Krista Kuhic,c9b46a89-e252-3e69-9b4c-d2a1f7bd86e8,235,Roselyn Road,3366.300,1.00000,2695.000,1981-03-17 13:05:45+00:00,1986-06-24 12:35:27+00:00,leland.vonrueden@example.net
44499,Miss Krista Kuhic,c9b46a89-e252-3e69-9b4c-d2a1f7bd86e8,235,Roselyn Road,3366.300,2.17575,1267.550,1981-03-17 13:05:45+00:00,1986-06-24 12:35:27+00:00,leland.vonrueden@example.net

# Configuração do Banco de dados SQL

Utilizando python iremos criar um banco de dados sql em memória, e criar uma tabela para os dados da nossa fonte.

In [14]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [15]:
database_temp = create_engine('sqlite:///:memory:', echo=True)

Agora iremos inserir nossos dados em uma tabela chamada Sales

In [16]:
data = df.to_sql(name="Sales", con=database_temp)

2024-05-10 15:25:14,264 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-05-10 15:25:14,281 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")

INFO:sqlalchemy.engine.Engine:PRAGMA main.table_info("Sales")

2024-05-10 15:25:14,285 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-05-10 15:25:14,290 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")

INFO:sqlalchemy.engine.Engine:PRAGMA temp.table_info("Sales")

2024-05-10 15:25:14,293 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-05-10 15:25:14,298 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	name TEXT,
	sale_id TEXT,
	product_id BIGINT,
	product TEXT,
	price_y FLOAT,
	quantity FLOAT,
	price_x FLOAT,
	created_at TEXT,
	updated_at TEXT,
	email TEXT
)

INFO:sqlalchemy.engine.Engine:
CREATE TABLE "Sales" (
	"index" BIGINT,
	name TEXT,
	sale_id TEXT,
	product_id BIGINT,
	product TEXT,
	price_y FLOAT,
	quantity FLOAT,
	price_x FLOAT,
	created_at TEXT,
	updated_at TEXT,
	email TEXT
)

2024-05-10 15:25:14,301 INFO sqlalchemy.engine.Engine [no key 0.00328s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00328s] ()

2024-05-10 15:25:14,304 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")

INFO:sqlalchemy.engine.Engine:CREATE INDEX "ix_Sales_index" ON "Sales" ("index")

2024-05-10 15:25:14,306 INFO sqlalchemy.engine.Engine [no key 0.00228s] ()

INFO:sqlalchemy.engine.Engine:[no key 0.00228s] ()

2024-05-10 15:25:14,919 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", name, sale_id, product_id, product, price_y, quantity, price_x, created_at, updated_at, email) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

INFO:sqlalchemy.engine.Engine:INSERT INTO "Sales" ("index", name, sale_id, product_id, product, price_y, quantity, price_x, created_at, updated_at, email) VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)

2024-05-10 15:25:14,924 INFO sqlalchemy.engine.Engine [generated in 0.47174s] [(0, 'Mason Howell', '442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2', 296, 'Lang Club', 866.694, 3.8999, 2433.8, '1997-09-17 21:50:14+00:00', '2007-02-15 19:34:06+00:00', 'jessica.cole@example.net'), (1, 'Mason Howell', '442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2', 296, 'Lang Club', 866.694, 4.0, 1196.58, '1997-09-17 21:50:14+00:00', '2007-02-15 19:34:06+00:00', 'jessica.cole@example.net'), (2, 'Mason Howell', '442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2', 296, 'Lang Club', 866.694, 1.38452, 1975.0, '1997-09-17 21:50:14+00:00', '2007-02-15 19:34:06+00:00', 'jessica.cole@example.net'), (3, 'Mason Howell', '442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2', 296, 'Lang Club', 866.694, 2.225, 119.526, '1997-09-17 21:50:14+00:00', '2007-02-15 19:34:06+00:00', 'jessica.cole@example.net'), (4, 'Mason Howell', '442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2', 296, 'Lang Club', 866.694, 2.89, 2386.94, '1997-09-17 21:50:14+00:00', '2007-02-15 19:34:06+00:00', 'jessica.cole@example.net'), (5, 'Miss Sheila Lehner Jr.', '77aa9946-a96d-373c-a227-d63bc1afcc90', 296, 'Lang Club', 866.694, 0.0451353, 172.68, '1999-08-19 03:22:44+00:00', '2017-07-30 09:27:02+00:00', 'becker.beatrice@example.com'), (6, 'Miss Sheila Lehner Jr.', '77aa9946-a96d-373c-a227-d63bc1afcc90', 296, 'Lang Club', 866.694, 3.0, 959.38, '1999-08-19 03:22:44+00:00', '2017-07-30 09:27:02+00:00', 'becker.beatrice@example.com'), (7, 'Miss Sheila Lehner Jr.', '77aa9946-a96d-373c-a227-d63bc1afcc90', 296, 'Lang Club', 866.694, 1.2, 984.838, '1999-08-19 03:22:44+00:00', '2017-07-30 09:27:02+00:00', 'becker.beatrice@example.com')  ... displaying 10 of 44500 total bound parameter sets ...  (44498, 'Miss Krista Kuhic', 'c9b46a89-e252-3e69-9b4c-d2a1f7bd86e8', 235, 'Roselyn Road', 3366.3, 1.0, 2695.0, '1981-03-17 13:05:45+00:00', '1986-06-24 12:35:27+00:00', 'leland.vonrueden@example.net'), (44499, 'Miss Krista Kuhic', 'c9b46a89-e252-3e69-9b4c-d2a1f7bd86e8', 235, 'Roselyn Road', 3366.3, 2.17575, 1267.55, '1981-03-17 13:05:45+00:00', '1986-06-24 12:35:27+00:00', 'leland.vonrueden@example.net')]

INFO:sqlalchemy.engine.Engine:[generated in 0.47174s] [(0, 'Mason Howell', '442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2', 296, 'Lang Club', 866.694, 3.8999, 2433.8, '1997-09-17 21:50:14+00:00', '2007-02-15 19:34:06+00:00', 'jessica.cole@example.net'), (1, 'Mason Howell', '442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2', 296, 'Lang Club', 866.694, 4.0, 1196.58, '1997-09-17 21:50:14+00:00', '2007-02-15 19:34:06+00:00', 'jessica.cole@example.net'), (2, 'Mason Howell', '442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2', 296, 'Lang Club', 866.694, 1.38452, 1975.0, '1997-09-17 21:50:14+00:00', '2007-02-15 19:34:06+00:00', 'jessica.cole@example.net'), (3, 'Mason Howell', '442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2', 296, 'Lang Club', 866.694, 2.225, 119.526, '1997-09-17 21:50:14+00:00', '2007-02-15 19:34:06+00:00', 'jessica.cole@example.net'), (4, 'Mason Howell', '442bc2f0-22d3-3c8a-9f71-0f9c16cee0b2', 296, 'Lang Club', 866.694, 2.89, 2386.94, '1997-09-17 21:50:14+00:00', '2007-02-15 19:34:06+00:00', 'jessica.cole@example.net'), (5, 'Miss Sheila Lehner Jr.', '77aa9946-a96d-373c-a227-d63bc1afcc90', 296, 'Lang Club', 866.694, 0.0451353, 172.68, '1999-08-19 03:22:44+00:00', '2017-07-30 09:27:02+00:00', 'becker.beatrice@example.com'), (6, 'Miss Sheila Lehner Jr.', '77aa9946-a96d-373c-a227-d63bc1afcc90', 296, 'Lang Club', 866.694, 3.0, 959.38, '1999-08-19 03:22:44+00:00', '2017-07-30 09:27:02+00:00', 'becker.beatrice@example.com'), (7, 'Miss Sheila Lehner Jr.', '77aa9946-a96d-373c-a227-d63bc1afcc90', 296, 'Lang Club', 866.694, 1.2, 984.838, '1999-08-19 03:22:44+00:00', '2017-07-30 09:27:02+00:00', 'becker.beatrice@example.com')  ... displaying 10 of 44500 total bound parameter sets ...  (44498, 'Miss Krista Kuhic', 'c9b46a89-e252-3e69-9b4c-d2a1f7bd86e8', 235, 'Roselyn Road', 3366.3, 1.0, 2695.0, '1981-03-17 13:05:45+00:00', '1986-06-24 12:35:27+00:00', 'leland.vonrueden@example.net'), (44499, 'Miss Krista Kuhic', 'c9b46a89-e252-3e69-9b4c-d2a1f7bd86e8', 235, 'Roselyn Road', 3366.3, 2.17575, 1267.55, '1981-03-17 13:05:45+00:00', '1986-06-24 12:35:27+00:00', 'leland.vonrueden@example.net')]

2024-05-10 15:25:15,128 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

INFO:sqlalchemy.engine.Engine:SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name

2024-05-10 15:25:15,134 INFO sqlalchemy.engine.Engine [raw sql] ()

INFO:sqlalchemy.engine.Engine:[raw sql] ()

2024-05-10 15:25:15,139 INFO sqlalchemy.engine.Engine COMMIT

INFO:sqlalchemy.engine.Engine:COMMIT

# Conexão com o bando de dados SQL

Utilizando a biblioteca sqlalchemy vamos nos conectar ao banco em memória e executar uma query de testes para selecionar o nome e o preço do produto vendido mais recentemente.

In [94]:
with database_temp.connect() as conn:
    result = conn.execute(text("Select product, price_y from Sales ORDER BY created_at DESC LIMIT 1"))

2024-05-10 16:36:12,922 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-05-10 16:36:12,926 INFO sqlalchemy.engine.Engine Select product, price_y from Sales ORDER BY created_at DESC LIMIT 1

INFO:sqlalchemy.engine.Engine:Select product, price_y from Sales ORDER BY created_at DESC LIMIT 1

2024-05-10 16:36:12,930 INFO sqlalchemy.engine.Engine [cached since 2246s ago] ()

INFO:sqlalchemy.engine.Engine:[cached since 2246s ago] ()

2024-05-10 16:36:12,955 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

Aqui conferimos o resultado.

In [95]:
result.all()

[('Vinnie Valleys', 349.0)]

# Informar ao Gemini qual é a estrutura das tabelas do nosso banco de dados SQL

Aqui podemos utilizar algumas das estratégias que foram ensinadas na Imersão Inteligência Artificial 2ª Edição da Alura, o objetivo é dizer previamente ao gemini como é a estrutura das tabelas do nosso banco antes de ele tentar criar uma query, e essa definição pode ser enviada como primeira parte do prompt confome exemplo abaixo.

In [ ]:
### Postgres SQL tables, with their properties:
#
# Sales(sale_id, name, product)
#
### A query to list the names of the products which have more than 10 sales in the last 3 months
# SELECT

Esta função retorna um prompt que informa ao Gemini que queremos trabalhar com as tabelas e campos SQL da nossa fonte de dados.

In [22]:
def create_table_structure_prompt(df):

    prompt = '''### sqlite SQL table, with its properties:
#
# Sales({})
#
'''.format(",".join(str(x) for x in df.columns))

    return prompt

In [23]:
print(create_table_structure_prompt(df))

### sqlite SQL table, with its properties:
#
# Sales(name,sale_id,product_id,product,price_y,quantity,price_x,created_at,updated_at,email)
#

# Montando nossa requisição em linguagem natural para Gemini.


Exemplo : Retorne os campos, produto e preço, do produto vendido mais recentemente.

In [39]:
def prompt_input():
    linguagem_natural = input("Olá, Insira as informações que deseja obter: ")
    return linguagem_natural

In [85]:
linguagem_natural = prompt_input()

Olá, Insira as informações que deseja obter: Retorne os campos, produto e preço, do produto vendido mais recentemente

Agora iremos combinar tudo em um só prompt.

In [86]:
def combine_prompts(df, query_prompt):
    database_definition = create_table_structure_prompt(df)
    query_init_string = f"### A query to answer: {query_prompt}\nSELECT"
    return database_definition+query_init_string

Excutando a linha abaixo você pode verificar o prompt final e fazer ajustes.

In [87]:
combine_prompts(df, linguagem_natural)

'### sqlite SQL table, with its properties:\n#\n# Sales(name,sale_id,product_id,product,price_y,quantity,price_x,created_at,updated_at,email)\n#\n### A query to answer: Retorne os campos, produto e preço, do produto vendido mais recentemente\nSELECT'

# Criando a chamada para o Gemini

In [88]:
model = genai.GenerativeModel('gemini-pro')

In [89]:
response = model.generate_content(combine_prompts(df, linguagem_natural))
print(response.text)

```sql
SELECT product, price_y
FROM Sales
ORDER BY created_at DESC
LIMIT 1;
```

Agora criaremos uma função para extrair somente a query sql sem os marcadores.
Ps. o autor dessa função foi o próprio Gemini.

In [90]:
def extract_sql_query(sql_prompt):
  """
  Extracts the SQL query from a gemini response text.

  Args:
      sql_prompt: The sql_prompt retuned from gemini.

  Returns:
      The extracted SQL query as a string.
  """
  lines = sql_prompt.splitlines()
  start_line = 1  # Assuming SELECT is on the second line
  end_line = len(lines) - 1  # Assuming semicolon is on the last line
  return "\n".join(lines[start_line:end_line])

In [91]:
extracted_query = extract_sql_query(response.text)
print(extracted_query)

SELECT product, price_y
FROM Sales
ORDER BY created_at DESC
LIMIT 1;

# Incrível ! agora resta apenas passar o resultado como query em nosso banco de dados e verificar se ele acertou.

In [92]:
with database_temp.connect() as conn:
    result = conn.execute(text(extract_sql_query(response.text)))

2024-05-10 16:35:51,717 INFO sqlalchemy.engine.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.Engine:BEGIN (implicit)

2024-05-10 16:35:51,721 INFO sqlalchemy.engine.Engine SELECT product, price_y
FROM Sales
ORDER BY created_at DESC
LIMIT 1;

INFO:sqlalchemy.engine.Engine:SELECT product, price_y
FROM Sales
ORDER BY created_at DESC
LIMIT 1;

2024-05-10 16:35:51,726 INFO sqlalchemy.engine.Engine [generated in 0.00868s] ()

INFO:sqlalchemy.engine.Engine:[generated in 0.00868s] ()

2024-05-10 16:35:51,743 INFO sqlalchemy.engine.Engine ROLLBACK

INFO:sqlalchemy.engine.Engine:ROLLBACK

In [93]:
result.all()

[('Vinnie Valleys', 349.0)]

# Show ele acertou na mosca !

## Tente com outros exemplos de solicitação também, basta seguir a partir da etapa "Montando nossa requisição em linguagem natural para Gemini." e inserir uma solicitação diferente por exemplo : 5 produtos mais caros.